@import url(https://fonts.googleapis.com/css?family=Catamaran&display=swap);
.cover {
  background-image: linear-gradient(45deg, #00aeef 0%, #096fb9 100%);
  overflow: hidden;
  position: relative; }

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative; }

.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0; }

.hero-section {
  perspective: 1000px;
  color: white;
  width: 400px;
  position: relative; }
  .hero-section h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px; }
  .hero-section-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1; }
    .hero-section-content-intro {
      font-size: 17px; }

.image {
  width: auto;
  max-width: 100%; }

.hero-welcome-text > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 80px; }

.hero-welcome-bio {
  margin-top: 20px;
  color: white; }
  .hero-welcome-bio .fa-stack {
    font-size: 28px; }
  .hero-welcome-bio .list-inline-item > a {
    color: #373737; }

.hero-welcome-wrapper {
  justify-content: flex-end; }

@media (max-width: 991px) {
  .hero-section {
    width: 341px;
    height: 445px; }
    .hero-section-content {
      width: 341px; }
  .hero-welcome-text > h1 {
    margin-top: 0px; } }

.background-image {
  position: absolute;
  width: 1762px;
  height: 493px; }

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 2px solid #3bace5; }
  .shadow-custom .shadow-inner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09); }

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.3); }

.cover-1 {
  background-image: linear-gradient(45deg, #feca53, #fd9d61); }

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative; }

.flipper.isFlipping {
  transform: rotateY(-180deg); }

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  transform: rotateY(0deg);
  z-index: 9999; }

.back {
  transform: rotateY(180deg); }

.service-link {
  position: absolute;
  bottom: 0;
  color: white;
  font-style: italic;
  font-size: 13px; }
  .service-link > a {
    color: white; }

.portfolio-page {
  min-height: 100vh;
  padding: 150px 0 0;
  background-color: #ecedee; }
  .portfolio-page .portfolio-card {
    background-image: linear-gradient(45deg, #4e54c8 0%, #8f94fb 100%);
    border: none;
    color: white;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    margin-bottom: 20px; }
    .portfolio-page .portfolio-card:hover {
      cursor: pointer;
      transform: translateY(-5px); }
    .portfolio-page .portfolio-card:hover .readMore:before {
      background: linear-gradient(to right, #ffffff 0%, #ffffff 100%); }
    .portfolio-page .portfolio-card-header {
      padding: 3px;
      padding-right: 7px;
      text-align: right;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 17px; }
    .portfolio-page .portfolio-card-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .portfolio-page .portfolio-card-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: 50px; }
  .portfolio-page .create-port-btn {
    margin-bottom: 20px; }

.blog-listing-page {
  min-height: 100vh;
  background-color: #ecedee; }
  .blog-listing-page .blog-body {
    padding: 50px 0 0 0; }
  .blog-listing-page .post-preview > a {
    color: #212529; }
    .blog-listing-page .post-preview > a:focus, .blog-listing-page .post-preview > a:hover {
      text-decoration: none;
      color: #18BC9C; }
    .blog-listing-page .post-preview > a > .post-title {
      font-size: 30px;
      margin-top: 30px;
      font-weight: 700;
      margin-bottom: 10px; }
    .blog-listing-page .post-preview > a > .post-subtitle {
      font-weight: 300;
      margin: 0 0 10px;
      color: #565656; }
  .blog-listing-page .post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96; }
    .blog-listing-page .post-preview > .post-meta > a {
      text-decoration: none;
      color: #212529; }
      .blog-listing-page .post-preview > .post-meta > a:focus, .blog-listing-page .post-preview > .post-meta > a:hover {
        text-decoration: underline;
        color: #18BC9C; }
  @media only screen and (min-width: 768px) {
    .blog-listing-page .post-preview > a > .post-title {
      font-size: 36px; } }
  .blog-listing-page footer {
    padding: 50px 0 65px; }
    .blog-listing-page footer .list-inline {
      margin: 0;
      padding: 0; }
    .blog-listing-page footer .copyright {
      font-size: 14px;
      margin-bottom: 0;
      text-align: center; }

.masthead {
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5; }
  .masthead .page-heading,
  .masthead .post-heading,
  .masthead .site-heading {
    padding: 200px 0 150px;
    color: white; }
    @media only screen and (min-width: 768px) {
      .masthead .page-heading,
      .masthead .post-heading,
      .masthead .site-heading {
        padding: 200px 0; } }
  .masthead .page-heading,
  .masthead .site-heading {
    text-align: center; }
    .masthead .page-heading h1,
    .masthead .site-heading h1 {
      font-size: 50px;
      margin-top: 0;
      font-weight: 700; }
    .masthead .page-heading .subheading,
    .masthead .site-heading .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0; }
    @media only screen and (min-width: 768px) {
      .masthead .page-heading h1,
      .masthead .site-heading h1 {
        font-size: 80px; } }
  .masthead .post-heading h1 {
    font-size: 35px; }
  .masthead .post-heading .meta,
  .masthead .post-heading .subheading {
    line-height: 1.1;
    display: block; }
  .masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px; }
  .masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic; }
    .masthead .post-heading .meta a {
      color: #fff; }
  @media only screen and (min-width: 768px) {
    .masthead .post-heading h1 {
      font-size: 55px; }
    .masthead .post-heading .subheading {
      font-size: 30px; } }

@media only screen and (min-width: 991px) {
  .blog-editor-page .editor-wrapper, .blog-detail-page .editor-wrapper {
    padding: 0 180px; } }

.blog-editor-page p, .blog-detail-page p {
  font-size: 20px; }

.blog-editor-page blockquote, .blog-detail-page blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
  display: block; }

.base-page.blog-user-page {
  padding-top: 50px; }
  .base-page.blog-user-page .user-blogs-list {
    list-style: none;
    padding-left: 0; }
    .base-page.blog-user-page .user-blogs-list > li {
      font-size: 28px;
      color: black; }
    .base-page.blog-user-page .user-blogs-list a {
      color: #424242; }
  .base-page.blog-user-page .blog-status-title {
    font-weight: bold; }
  .base-page.blog-user-page .port-dropdown {
    margin-left: 10px; }

.about-page .left-side {
  margin-top: 10vh;
  color: black;
  text-align: left; }

.about-page .fadein {
  opacity: 0;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.about-page .title {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  font-size: 42px;
  font-weight: bold; }

.about-page .subtitle {
  -webkit-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  animation-delay: 2.2s;
  font-size: 33px; }

.about-page .subsubTitle {
  -webkit-animation-delay: 3.6s;
  -moz-animation-delay: 3.6s;
  animation-delay: 3.6s;
  font-size: 18px; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.cv-page .cv-title {
  text-align: center;
  margin-bottom: 20px; }

.port-navbar.port-nav-base {
  width: 100%;
  z-index: 15;
  padding: 40px; }
  .port-navbar.port-nav-base .port-navbar-brand {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold; }
  .port-navbar.port-nav-base .port-navbar-item {
    margin-left: 10px;
    margin-right: 10px; }
  .port-navbar.port-nav-base .port-navbar-link {
    color: white;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 18px;
    text-transform: uppercase; }
    .port-navbar.port-nav-base .port-navbar-link.active {
      color: #dba919; }
    .port-navbar.port-nav-base .port-navbar-link:hover, .port-navbar.port-nav-base .port-navbar-link:focus {
      color: #dba919; }
  .port-navbar.port-nav-base .port-dropdown-menu .port-dropdown-item {
    color: #4e4e4e; }
    .port-navbar.port-nav-base .port-dropdown-menu .port-dropdown-item.active {
      color: #dba919; }
  .port-navbar.port-nav-base .port-dropdown-menu .port-dropdown-toggle {
    color: white;
    margin-left: 10px;
    margin-right: 10px; }

.port-navbar.port-nav-base.port-nav-default {
  padding: 30px;
  background-color: #2C3E50 !important; }

.bg-transparent.menu-open {
  background-color: #2c3e50 !important; }

.bg-transparent.menu-close {
  transition: 1s;
  background-color: #2c3e50 !important; }

.controll-menu {
  text-align: right;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .controll-menu .title {
    float: left;
    font-weight: bold; }
  .controll-menu .status-box {
    display: inline-block;
    margin-right: 10px; }

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica'; }

.clickable {
  cursor: pointer; }

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white; }

.absolute {
  position: absolute; }

.error {
  font-weight: 700;
  color: red; }

.base-page {
  padding: 150px 0 100px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh; }
  .base-page .page-header .page-header-title {
    font-weight: 700;
    color: black;
    display: inline-block;
    margin-bottom: 20px; }

.card {
  margin-bottom: 1rem; }

.bold-font {
  font-family: 'Catamaran', sans-serif;
  font-size: 2rem;
  font-weight: bold; }


/*# sourceMappingURL=styles.chunk.css.map*/
/*# sourceMappingURL=styles.chunk.css.map*/